/
  \=========================
  PRE LOADER
  \==============================
.preloader
  .status &nbsp;

%header#home.header
  #main-nav.navbar.navbar-inverse.bs-docs-nav{:role => "banner"}
    .container
      .navbar-header.responsive-logo
        %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          = image_tag("barlogo.png")
      %nav#bs-navbar-collapse.navbar-collapse.collapse{:role => "navigation"}
        %ul.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list
          %li
            %a{:href => "#home"} Home
          %li
            %a{:href => "#focus"} Current Specials
          %li
            %a{:href => "#works"} Bar Search


  .container
    %h1.intro Efficiency in Bar Hopping
    .buttons.inpage-scroll
      %a.btn.btn-primary.custom-button.red-btn{:href => "#current-specials"} Current Specials
      %a.btn.btn-primary.custom-button.green-btn{:href => "#barsearch"} Search for a Bar
%section#focus.focus
  .container
    .section-header
      %h2.dark-text New to Charleston?
      %h6
        Short or long stay, find bars you'll actually enjoy

    .row
      .col-lg-3.col-sm-3.focus-box.red.wow.fadeInLeft.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
        %h5.red-border-bottom Categories!
        %p
          Never feel overdressed
      .col-lg-3.col-sm-3.focus-box.green.wow.fadeInLeft.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
        %h5.green-border-bottom Go dancing!
        %p
          Want to get weird on the dance floor or avoid it alltogether? Choose!
      .col-lg-3.col-sm-3.focus-box.blue.wow.fadeInRight.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
        %h5.blue-border-bottom Allow nondrinkers?
        %p
          Don't let kids kill your buzz
      .col-lg-3.col-sm-3.focus-box.yellow.wow.fadeInRight.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
        %h5.yellow-border-bottom Food?
        %p
          Fortify your stomach before drinks! Or not.

%section.separator-one
  .color-overlay
    %h2.container.text.wow.fadeInLeft.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
      Please Drink Responsibly
    .wow.fadeInRight.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
      / = link_to "Manage Venues", new_venue_path, class: "btn btn-primary custom-button green-btn"
    /   = link_to "Search", new_search_path, class: "btn btn-primary custom-button green-btn"



= render 'specials/index'





%section#barsearch.packages
  .container
    .section-header
      %h2.white-text Bar Search
      %h6.white-text
        Find the right spot for you.
    .row#barsearchform
      = render '/searches/new'





.barsearchresults
    









%section#team.our-team
  .container
    .section-header
      %h2.dark-text Please drink responsibly
      %h6
        
   