/ - @search.venues.each do |v|
/   = v.venue_name
/   %br
/   .address
/     = v.address

/ = render 'maps/map'

/ = venue.venue_name

.venues
  %h3
    = venue.venue_name
  .address
.addresses
  = venue.address




