
/ .container
/   .row
/     - @results.each do |r|
/       = div_for r do
/         .col-lg-4
/           .thumbnail.wow.bounceIn.animated#results
/             %img{:alt => "...", :src => "http://placekitten.com/g/250/250"}
/               .caption
/                 %input.venue_address{:type=>"hidden", :value=>r.address}
/                 %h3 
/                   = r.venue_name
/                 %p.address{:'data-address' => r.address}
/                   = r.address
/                 %p
/                   - r.specials.each do |s|
/                     %br
/                     = s.description
/               .row
/                 .col-md-6
/                   %a.btn.btn-primary{:href => "#", :role => "button"} View On Map
/                   %a.btn.btn-default{:href => "#", :role => "button"} Check Out Specials
/               .row
/                 .col-md-6
/                   .checkbox
/                     %label
/                       %input.startbox{:type => "checkbox", :'data-address' => r.address}
/                         Start
/                 .col-md-6
/                   .checkbox
/                     %label
/                       %input.endbox{:type => "checkbox", :'data-address' => r.address}
/                         End



.row.wow.fadeInRight.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "3s", "data-wow-offset" => "40"}
  - @results.each do |r|
    = div_for r do
      / MEMBER
      .col-lg-3.col-sm-3
        .team-member
          %figure.profile-pic
            %img{:alt => "", :src => "http://placekitten.com/g/250/250"}
              / MEMBER PROFILE PIC
          .member-details
            %h5.dark-text.red-border-bottom
              = r.venue_name
            .position
              = r.address
          .social-icons
            %ul.list-inline
              %li
                .label
                  %input.checkbox.startbox{:type => "checkbox", :'data-address' => r.address}
                    .span.checklist
                      Start
              %li
                .label
                  %input.checkbox.endbox{:type => "checkbox", :'data-address' => r.address}
                    .span.checklist
                      End
              / %li
              /   %a{:href => ""}
              /     %i.icon-behance
              / %li
              /   %a{:href => ""}
              /     %i.icon-dribbble
          .details
            - r.specials.each do |s|
              %p
                = s.description
                  


%mapbox

  / %input#to{:type => "hidden"}
  %button.route.btn.btn-primary.custom-button.green-btn
    Route
  .row
    .col-lg-4
      #map-canvas
    .col-lg-4
    #directions-panel


:javascript
  var map;
  var directionsDisplay;
  var directionsService;
  var service;

  // set current location, directions display, map display, current position, marker
  function initialize(location)
  {
    console.log(location);

    directionsDisplay = new google.maps.DirectionsRenderer();

    var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);

    var mapOptions = {
      center: currentLocation,
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

  // display map
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directions-panel'));

    var marker = new google.maps.Marker({
      position: currentLocation,
      map: map
    });
    
  }
  // end initialize

  function calculateRoute() {

    var directionsService = new google.maps.DirectionsService();
    var start = $(".start").data("address");
    console.log(start)

    var end = $(".end").data("address");
    // var end = document.getElementById('venue_address').value;

    var waypoints = [];

    // var venueArray = document.getElementById('venue_address').value;
    // console.log(venueArray)
    // for (var i = 0; i < venueArray.length; i++) {
    //   waypoints.push({
    //     location:venueArray[i].value,
    //     stopover:true});
    //   }

  // finds each address and pushes it to waypoints
    $('.startbox').each(function() {
      console.log(this)
      waypoints.push({
        location:$(this).data("address"),
        stopover:true});
      });

    console.log(waypoints)

    var request = {
      origin: start,
      destination: end,
      waypoints: waypoints,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING
    };
    // end var request
    // var directionsDisplay = new google.maps.DirectionsRenderer();
  // renders directions in the panel
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        }
    });
  }

   
  $(document).ready(function()
  {
    $(document).on("click", ".route", function(event) {
      console.log("what");
      event.preventDefault();
      // initialize();
      calculateRoute();
    });

    $(document).on("click", ".startbox", function() {
      console.log($(this).data("address"))
      $(this).removeClass("startbox").addClass("start")
      $(".startbox").each(function() {
        $(this).attr("disabled", true)
      });
    });

    $(document).on("click", ".endbox", function() {
      console.log($(this).data("address"))
      $(this).removeClass("endbox").addClass("end")
      $(".endbox").each(function() {
        $(this).attr("disabled", true)
      })
    });
    navigator.geolocation.getCurrentPosition(initialize);

  });



    




