
.container
  .row
    - @results.each do |r|
      = div_for r do
        .col-sm-6.col-md-4
          .thumbnail#results
            %img{:alt => "...", :src => "http://placekitten.com/g/250/250"}
              .caption
                %input.venue_address{:type=>"hidden", :value=>r.address}
                %h3 
                  = r.venue_name
                %p.address{:'data-address' => r.address}
                  = r.address
                %p
                  - r.specials.each do |s|
                    %br
                    = s.description
              .row
                .col-md-6
                  %a.btn.btn-primary{:href => "#", :role => "button"} Button
                  %a.btn.btn-default{:href => "#", :role => "button"} Button
              .row
                .col-md-6
                  .checkbox
                    %label
                      %input.startbox{:type => "checkbox", :'data-address' => r.address}
                        Start
                .col-md-6
                  .checkbox
                    %label
                      %input.endbox{:type => "checkbox", :'data-address' => r.address}
                        End

                  


/ - @results.each do |r|
/   = div_for r do
/     = r.venue_name
/     %br
/     = r.address

%mapbox
  
  %input#to{:type => "hidden"}
  %button.route
    Route
  %button.iterate
  .row
    .col-lg-4
      #map-canvas
      
    .col-lg-4
      #directions-panel