@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);




body {
 /* background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  /*padding-top: 70px;*/

}








/*Custom Dropdowns*/


.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

.big {
  font-size: 1.2em;
}




/*map styling*/

#map-canvas {
  height: 600px;
  width: 800px;
  width: auto;
  opcacity: 1;
}

#directions-panel {
  background-color: #FFFFFF;
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}

mapbox {
  opacity: 1;
  background-color: #000000;
}

.span.checklist {
  color: #000000;
}

.venuelister {
  background-color: #FFFFFF;
}




/*.navbar-header {
  background-color: #FFFFFF;
}


#main {
  padding-top: 50px;
  background-color: rgba(0,0,0,0.75);
  color: #F8FCFE;
  min-height: 1000px;

}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#venueform {
  color: #B47838;
}*/